<ion-header>
  <ion-navbar>
    <ion-title>
      試合結果入力
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-around>
      <ion-col>
        {{bracket.home.team.name}}<br>
        <ion-select [(ngModel)]="bracket.home.point.value">
          <ion-option value="{{point.value}}" *ngFor="let point of bracket.home.point.range()">{{point.value}}</ion-option>
        </ion-select>
      </ion-col>
      <ion-col>
        vs
      </ion-col>
      <ion-col>
        {{bracket.away.team.name}}<br>
        <ion-select [(ngModel)]="bracket.away.point.value">
          <ion-option value="{{point.value}}" *ngFor="let point of bracket.away.point.range()">{{point.value}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
